In [235]:
import numpy as np
import pandas as pd
import re
import datetime
from pandas import ExcelWriter

In [236]:
#read in data

members = pd.read_excel("data.xlsx",sheetname=2)
calls = pd.read_excel("data.xlsx",sheetname=3).dropna()
claims = pd.read_excel("data.xlsx",sheetname=4).rename(
    index=str,columns={"Member":"SubscriberID"})
costs = pd.read_excel("data.xlsx",sheetname=5)

In [237]:
def CullJunkDates(df,s):
    bools = []
    for val in s:
        if isinstance(val,datetime.datetime): 
            bools.append(True)
        else:
            bools.append(False)
            
    return df[bools]

In [238]:
claims['SubscriberID'] = claims['SubscriberID'].apply(lambda x: x.split("-")[0])

#standardize satisfaction rating

calls['Satisfaction'] = calls['Satisfaction'].map({
    'SAT':'Satisfied',
    r'\bD\b':'Dissatisfied',
    'VD':'Very Dissatisfied',
    'VS':'Very Satisfied',
    'Satisfied':'Satisfied',
    'Very Satisfied':'Very Satisfied',
    'Dissatisfied':'Dissatisfied',
    'Very Dissatisfied':'Very Dissatisfied'
})


        
#set timeframe to 2016
calls['CallYear'] = calls['CallDate'].apply(lambda x: x.year)
calls = calls[calls['CallYear'] == 2016]

claims = CullJunkDates(claims,claims['DateofService'])
claims['ClaimYear'] = claims['DateofService'].apply(lambda x: x.year)
claims = claims[claims['ClaimYear'] == 2016]

# add satisfaction index

calls['SatScore'] = calls['Satisfaction'].map( {
    'Very Dissatisfied':0,
    'Dissatisfied':1,
    'Satisfied':2,
    'Very Satisfied':3
})

calls.head(20)

,SubscriberID,CallDate,mon_num,Satisfaction,QSR_cd,CSP,Duration,CallYear,SatScore
0,150990125,2016-01-06 00:00:00,1,Satisfied,502.581441,yancey,33,2016,2.0
1,150029490,2016-03-16 00:00:00,3,Satisfied,469.192460,yancey,8,2016,2.0
2,150519251,2016-07-20 00:00:00,7,Satisfied,874.843469,yancey,1,2016,2.0
3,150644747,2016-06-19 00:00:00,6,Very Dissatisfied,800.301494,rojas,4,2016,0.0
4,150636919,2016-08-12 00:00:00,8,Satisfied,237.712789,nordquist,4,2016,2.0
5,150785388,2016-10-27 00:00:00,10,Very Satisfied,51.762178,hintz,38,2016,3.0
6,150867409,2016-01-02 00:00:00,1,Satisfied,229.353874,hintz,13,2016,2.0
7,150551525,2016-06-23 00:00:00,6,Satisfied,126.765904,hintz,7,2016,2.0
8,150262499,2016-05-31 00:00:00,5,Very Satisfied,848.062032,davishale,4,2016,3.0
9,150139103,2016-08-11 00:00:00,8,Very Dissatisfied,803.655557,hintz,16,2016,0.0
10,150378540,2016-11-12 00:00:00,11,Satisfied,973.295305,davishale,19,2016,2.0
11,150139103,2016-10-27 00:00:00,10,Very Dissatisfied,806.638568,rojas,2,2016,0.0
12,150109601,2016-06-04 00:00:00,6,Satisfied,128.195170,yancey,4,2016,2.0
13,150629229,2016-05-31 00:00:00,5,Very Satisfied,733.525825,hintz,5,2016,3.0
14,150254983,2016-11-11 00:00:00,11,Dissatisfied,946.089738,nordquist,1,2016,1.0
15,150500055,2016-12-15 00:00:00,12,Dissatisfied,607.135455,nordquist,1,2016,1.0
16,150869515,2016-11-17 00:00:00,11,Satisfied,436.187441,hintz,2,2016,2.0
17,150016475,2016-06-23 00:00:00,6,Dissatisfied,301.811203,nordquist,2,2016,1.0
18,150158948,2016-06-22 00:00:00,6,Very Satisfied,266.785511,yancey,49,2016,3.0
19,150854163,2016-01-02 00:00:00,1,Dissatisfied,720.262642,nordquist,4,2016,1.0

In [240]:
#export modified dfs back to excel

writer = ExcelWriter('cleandata.xlsx')
members.to_excel(writer,'members',index=False)
calls.to_excel(writer,'calls2016',index=False)
claims.to_excel(writer,'claims2016',index=False)
costs.to_excel(writer,'costs2016',index=False)
writer.save()